{% extends 'Basic.html' %}
{% block title %} Create Post {% endblock title %}
{% block linkCss %}/static/Posts/css/createPost.css{% endblock linkCss %}
{% block body %}


    <div class="container col-12 col-md-6">
        <div class='row p-3 mb-2 bg-info-subtle text-emphasis-info row rounded'>
            <h1 class='justify-content-center d-flex'>Create Post</h1>
        </div>
    
        <div class='row mt-4 p-3'>
                <form method='POST' action='/createPost/{{user.username}}/' enctype="multipart/form-data" > {% csrf_token %}
                    <div  class="profile-image-container mx-auto">
                        <input type="file" accept="image/*" id="postImages" multiple name="postImages" class="profile-input">
                        <label for="postImages" class="profile-label mt-2">
                          <div id='previewImage'>
                            {% comment %} Uploaded Image will be previewed here {% endcomment %}
                          </div>
                        </label>
                    </div>
                    <div class='mt-5'>
                        <label for="post_desc" class="form-label">Post Description</label> 
                        <textarea type="text" class="form-control" id="post_desc" name='post_desc' rows='8' placeholder='Write Description here'></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Post</button>
                  </form>
        </div>
    </div>


{% endblock body %}
{% block jsSrc %}/static/Posts/js/createPost.js{% endblock jsSrc %}