{% extends 'basic.html' %}
{% block title %}Message{% endblock title %}
{% block linkCss %}/static/Messaging/css/do_message.css{% endblock linkCss %}


{% block body %}

<div class="container mt-4">
    <div class="row justify-content-center" >
        <div class="col-md-4 element">
            <h2 class="mb-3">Contacts</h2>
                {% for message,room in messages_with_rooms %}
                <div class='msg-list m-1'>
                        <a class='custom-link' href='/messaging/do_message/{{room.room_name}}/'>
                            <img src="/media/{{ message.following.profile_photo}}" class='profile-photo' alt="img">
                            <span >{{message.following.user.username}}</span>
                        </a>
                </div>
                {% endfor %}
                <!-- Add more contacts here -->
        </div>

        <!-- Right Sidebar - Chat Window -->
        <div class="col-md-5">
            <div class="card msg-card-bg">
                <div class="card-body rounded">
                    <div id='visitProfile' class='mt-2 rounded-pill d-flex profile-box'>
                            <div>
                                    <img src="/media/{{receiver.profile_photo}}" class='profile-photo' alt="abc">
                            </div>
                            <div>
                                <h2 class="p-2 ms-3 mb-1 text-justify">{{receiver.user}}</h2>
                            </div>
                    </div>
                    <div class='scroll mt-4 ml-4 p-3'id='chat-container' style='margin-right: -16px;'>
                        {% for message in all_messages  %}
                            {% if message.sender != sender %}
                                <div class="row  justify-content-start text-start mt-2">
                                    <span class='receivedMessage'>{{message.content}} <i class='timeStamp'>{{message.timeStamp|time}}</i></span>
                                </div>
                                {% else %}
                                <div class="row  justify-content-end  text-end mt-2">
                                    <span class='me-2  sendMessage'>{{ message.content }} <i class='timeStamp'>{{message.timeStamp|time}}</i></span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                        <div class="input-group border rounded-pill mt-3">
                            <textarea id='chat-message-input' class="form-control rounded-pill no-border" rows="2" name="message" placeholder="Type your message here..." required></textarea>
                            <div class="input-group-append ms-2 me-3 mt-1">
                                <i id="chat-message-submit" type="submit" class="bi bi-send"></i>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ room_name.room_name|json_script:"room_name" }}
{{ request.user.username|json_script:"curr_username" }}
{{ receiver.user.username|json_script:"receiver_username" }}
{% endblock body %}
{% block jsSrc %}/static/Messaging/js/do_message.js{% endblock jsSrc %}