{% extends 'Basic.html' %}
{% block title %} Profiles {% endblock title %}
{% block linkCss %}/static/Followers/css/profile_list.css{% endblock linkCss %}
{% block body %}

<div>
    <div class="container">
        <div class="row justify-content-center bg-light rounded p-3 mt-3">
            <div class="col-lg-6 col-md-8 col-sm-10"> <!-- Set appropriate column widths for different screen sizes -->
                {% for profile in followers %}
                <div class="mt-2 resultBg">
                    <div class='d-flex container'>
                        <div class='col-md-2 col-sm-3'>
                                <img src="/media/{{profile.profile_photo}}" alt="" srcset="" class='profile_list_imgs'>
                        </div>
                        <div class='col-md-6 col-sm-5 ms-1'>
                            <span><b>{{profile.user}}</b></span>
                        </div>
                        <a href="/followers/visit_profile/{{profile.user.username}}" class='btn'>Visit Profile</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>

{% endblock body %}