{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% block linkCss %}{% endblock linkCss %}">
    <link rel="stylesheet" href="/static/basic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" href="/static/logo/ConnectHubLogo.png" type = "image/x-icon">

</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top shadow">
        <div class="container">
            <div class="d-flex align-items-center w-lg-25">
                <!-- Logo -->
                <a class="navbar-brand ms-3" href="/">
                    <img src="/static/Logo/ConnectHubLogo.png" class="rounded-circle" style="max-width: 47px;" alt="Logo">
                </a>

                <!-- Search Box -->
                <div class="ms-lg-1">
                    <div class="nav-item dropdown dropdown-toggle-icon-none nav-search">
                        <a class="nav-link" role="button" href="#" id="navSearch" data-bs-toggle="dropdown"
                            aria-expanded="true">
                            <i class="bi bi-search"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-start shadow rounded p-2" aria-labelledby="navSearch"
                            data-bs-popper="static" style='width:max-content'>
                            <form class="input-group" method='post' action='/search/'>{% csrf_token %}
                                <input id='search' name='search' class="form-control border-success" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-success m-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Toggle Button for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="container collapse navbar-collapse " id="navbarSupportedContent">
                <!-- Navigation Links -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/createPost/{{user.username}}/">Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/messaging/">Messages</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="/">Requests</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="/followers/profiles_list/">Profiles</a>
                        </li>
                    {% endif %}
                </ul>
               
                
                <!-- User Dropdown -->
                {% if user.is_authenticated %}
                <div class="dropdown ms-lg-2">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/account/profile/{{ user.username }}/">View Profile</a></li>
                        <li><a class="dropdown-item" href="/account/logout/">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="ms-lg-2">
                    <a href='/account/login' class="btn btn-light mx-2">Login</a>
                    <span>/</span>
                    <a href='/account/signin' class="btn btn-light mx-2">SignIn</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}

   

    {% block body %}

    {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/static/Posts/js/allPost.js"></script>

    <script src="{% block jsSrc %}{% endblock jsSrc %}"></script>
        
</body>

</html>